.container{
display: grid;
grid-template-columns: 10% 40% 40% 10%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar{
    display: flex;
    flex-direction: column;
    float: left;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artistPic{
    display: flex;
    justify-content: center;
    background-color: hotpink;
}