.container{
display: flex;
flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar{
    display: flex;
    flex-direction: column;
    float: left;
}

.body{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: center;
}

.body__artistOdd{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

.body__artistEven{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
