html {
    background-image: radial-gradient(circle, black, rgb(107, 0, 0));
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 1.5rem;
    padding: 0;
    color: white;
}

h3 {
    font-size: 1.7rem;
}

header {
    font-family: 'Nosifer', cursive;
    font-size: 50px;
}

img {
    border-radius: 25px;
}

.sidebar {
    font-family: 'Creepster', cursive;
    font-size: 25px;
}

.body {
    font-family: 'Creepster', cursive;
    text-align: center;
}

.artist {
    border: medium solid black;
}


footer {
    font-family: 'Creepster', cursive;

}